body {
  font-family: Verdana;
  font-size: 18px;
  background-color: white;
}

.App {
  margin: auto;
  max-width: 50%;
  text-align: center;
  font-family: Arial;
  background-color: rgba(211, 211, 211, 0.13);
  padding: 15px;
  border-radius: 5px;
}

.selected {
  background-color: #f44336;
  color: white;
}

.options {
  margin: 15px auto;
  max-width: 45%;
  padding: 8px;
  border: 2px solid #000;
  cursor: pointer;
  border-radius: 5px;
}

.answers {
  text-align: left;
  margin-left: 35%;
}

/* Media Queries */

@media only screen and (max-width: 800px) {
  .App {
    max-width: 90%;
  }
  .options {
    max-width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .answers {
    margin-left: 20%;
  }
}
